<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ityouzi.mapper.SysUserRoleMapper">
    <resultMap id="SysUserRoleResult" type="com.ityouzi.system.domain.SysUserRole">
        <result property="userId"     column="user_id"      />
        <result property="roleId"     column="role_id"      />
    </resultMap>

    <!--批量新增用户角色信息-->
    <insert id="batchUserRole">
        insert into sys_user_role(user_id, role_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.userId}, #{item.roleId})
        </foreach>

    </insert>

    <!--通过用户ID删除用户和岗位关联-->
    <delete id="deleteUserRoleByUserId" parameterType="long">
        delete from sys_user_role where user_id = #{userId}
    </delete>

    <!--通过角色ID查询角色使用数量-->
    <select id="countUserRoleByRoleId" resultType="java.lang.Integer">
        select count(1) from sys_user_role where role_id=#{roleId}
    </select>
</mapper>